Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
*.a
*~
/autom4te.cache
/aclocal.m4
/config.log
/config.status
/config.sub
/config.guess
/configure
/config.h.in
/config.h
/snaccconfig.h
/ltmain.sh
/libtool
/depcomp
/stamp-h*
/snacc-config
/ylwrap
/c++-lib/c++
/c++-lib/tcl
/c-lib/Cebuf
/c-lib/ebuf
/c-lib/mbuf
/c-lib/sbuf
/c-lib/tbl
