Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
*.a
*~
LIBOBJ
/compiler/core/snacc
/compiler/core/snaccC
/compiler/core/tbl.c
/compiler/core/tbl.h
/compiler/core/parse-asn1.c
/compiler/core/parse-asn1.h
/tbl-tools/berdecode/berdecode
/tbl-tools/mkchdr/mkchdr
/tbl-tools/ptbl/ptbl
/tbl-tools/pval/pval
/autom4te.cache
/aclocal.m4
/config.log
/config.status
/config.sub
/config.guess
/configure
/config.h.in
/config.h
/snaccconfig.h
/ltmain.sh
/libtool
/depcomp
/stamp-h*
/snacc-config
/ylwrap
/c++-lib/c++
/c++-lib/tcl
/c-lib/Cebuf
/c-lib/ebuf
/c-lib/mbuf
/c-lib/sbuf
/c-lib/tbl
