for dir in c++ tcl ; do
	if test -d c++-lib/$dir ; then
		true
	else
		progress "Creating c++-lib/$dir"
		mkdir c++-lib/$dir
	fi
	touch c++-lib/$dir/Makefile.am
	rm -f c++-lib/$dir/Makefile.in
done

for dir in Cebuf ebuf mbuf sbuf tbl ; do
	if test -d c-lib/$dir ; then
		true
	else
		progress "Creating c-lib/$dir"
		mkdir c-lib/$dir
	fi
	touch c-lib/$dir/Makefile.am
    rm -f c-lib/$dir/Makefile.in
done
